.container{
    max-width: 1100px;    
  margin: 0 auto;   
  padding: 0 20px;
  
}
.logo{
    width: 180px;   
    height: auto;   
    display: block;
}
body{
    background: #FFFFFF;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; 
}

.nav-links a {
  text-decoration: none; /* tar bort underline */
  color: black;
  font-size: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
border: 1px solid #7C3AED;
  border-radius: 8px;
  padding: 10px 10px; 
}

.products img {
  width: 345px;   /* test: 320px */
  height: auto;
}
.products{
    display: flex;
  flex-direction: column;
  gap: 30px;   
  margin-left: 50px;
    
    
}
.ads img{
    width: 220px;  
    height: auto;
    padding: 20px;
}
.mainwrapper{
    display: flex;
  justify-content: space-between;
  margin-top: 60px;
  gap: 20px;
  align-items: flex-start;
}
.ads{
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.p1, .p2, .p3 {
    display: flex;
    align-items: center;
    width: 600px;
  height: auto;
    
    background-color: #111827 ; 

    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    border: 1px solid #272629;
  border-radius: 18px;
  padding: 15px; 
}
.p1:hover, .p2:hover, .p3:hover{
    border: 1px solid #7C3AED;
}

.desc1, .desc2, .desc3{
    color: white;  
    text-align: center;
    margin-left: 10px;
    height: fit-content;
}
.desc1 a, .desc2 a, .desc3 a{
    color: wheat;
    
}
.map iframe{
    width: 630px;
}
/* object.html */

.prodpic img{
    width: 600px;
}
.randtext{
    width: 300px;
    height: 300px;
    border: 1px solid #5d5a61;
    margin-top: 50px;
    text-align: center;
}
.proddesc{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.objdesc{
    display: flex;
    border: 1px solid #5d5a61;
    height: 350px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.rubrik{
    width: 250px;
    height: 250px;
    padding: 20px;
}
.pris{
    width: 250px;
    height: 250px;
    padding: 20px;
}
.prisdesc{
    border: 1px solid #5d5a61;
}
.prowrap{
   
}
.allwrap{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}